{# Load the tag library #}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="h1">请提交sql,标题等信息</div>
        <form method="post" class="form">
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                提交
            </button>
            {% endbuttons %}
        </form>

    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>